fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
psycopg2-binary
requests
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sentence-transformers
scikit-learn
numpy
faiss-cpu
redis
apscheduler

