fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
psycopg2-binary
requests
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.1.2
python-multipart
sentence-transformers
scikit-learn
numpy
faiss-cpu
redis 
apscheduler
email-validator
resend
langdetect
deep-translator